body {
  text-align: center;
}

.description h1 {
  padding-top: 7%;
}

/* .description ::before {
  background-image: url("./background.png");
  /* background-size:; */
/* background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  background-color: rgb(19, 18, 18); */
/* top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  opacity: 0.1; */
*/ .stylish {
  padding-top: 10%;
  font-family: "Dosis", sans-serif;
}
.stylish p {
  padding-left: 10%;
  padding-right: 10%;
}
.stylish h4 {
  padding-top: 3%;
}
.stylish h6 {
  padding-top: 1%;
}

.description img {
  width: 60%;
  padding-top: 5%;
}

@media (max-width: 700px) {
  .description img {
    width: 100%;
  }
}
