body {
  text-align: center;
}

.description h1 {
  padding-top: 7%;
}

.stylish {
  padding-top: 10%;
  font-family: "Dosis", sans-serif;
}
.stylish p {
  padding-left: 10%;
  padding-right: 10%;
}
.stylish h4 {
  padding-top: 3%;
}
.stylish h6 {
  padding-top: 1%;
}

.description img {
  width: 60%;
  padding-top: 5%;
}

@media (max-width: 700px) {
  .description img {
    width: 100%;
  }
}
