@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,600&family=Quicksand:wght@300;700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
}

.timer-container{
    background-image: url('./background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(172 165 155 / 85%);
    width: 100vw;
    height: 100vh;
}

.timer {
    background-color:rgba(0,0,0,0.5);
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;
    padding-top: 2em;
    width: 100%;
    height: 100%;
}

.timer div:first-child{
    text-align: center;
}
.timer-icon{
    font-size: 8em;
}
h2{
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 45px;
}

.timer div:first-child p{
    color:rgb(172 165 155 / 85%);
}

.timer div:last-child{
    border: 1px solid rgb(172 165 155 / 85%);
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;
}

section p:first-child, timer div:last-child span {
    font-size: 3em;
}

@media screen and (max-width: 480px){
    .timer div:last-child{
        margin-left: 2em;
        margin-right: 2em;
        padding: 3em 1em;
    }
}