@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@700&family=Satisfy&display=swap');
.body{
    margin: 0;
    padding: 0;
}

.home1{
    height: 50%;
    padding-left: 5% ;
    padding-right: 5% ;
    font-size: x-large;
    font-family: 'Satisfy', cursive;
}
.home2{
    height: 50%;
    align-items: center;
    padding-left: 5% ;
    padding-right: 5% ;
    font-size: x-large;
    font-family: 'Satisfy', cursive;
}
.Home_lol{
    padding-top: 10%; 
}

.Home_lol::before {
    content: '';
    background: url('./images/pyro.png') 
        no-repeat center center/cover;
    /* background-repeat: no-repeat;
    background-position: center; */

    position: fixed;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-position: 75% 40%; */
    }

.Home_lol h1{
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
}
@media (max-width: 561px) {
    .Home_lol h1{
        font-size: 300%;
        padding-top: 14%;
    }
  }
@media (max-width: 561px) {
    .home1{
        font-size: large;
    }
    .home2{
        font-size: large;
    }
  }