body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}

.card {
  width: 100%;
}

.card:hover {
  box-shadow: 100% 100% 100% rgba(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
  font-family: "Noto Sans", sans-serif;
}

.container-fluid .row {
  padding-top: 6%;
}

.overflow {
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card-img-top:hover {
  transform: scale(1.8);
}
